.signin {
  width: 30rem;
  left: calc(50% - 15rem);
}

.signin .centered {
  text-align: center;
}

.signin .header {
  margin: 1.5rem;
}

.signin .toggle {
  border: none;
  background: transparent;
  font: inherit;
  color: #4d1601;
  text-decoration: underline;
  cursor: pointer;
}
