.profile table {
  font-family: inherit;
  border-collapse: collapse;
  width: 100%;
}

.profile td,
.profile th {
  border: 1px solid lightgray;
  text-align: left;
  padding: 0.5rem;
}

.profile .date {
  background-color: lightgray;
}
