.profile table {
  font-family: inherit;
  border-collapse: collapse;
  width: 95%;
  margin: auto;
  table-layout: fixed;
}

.profile td,
.profile th {
  border: 1px solid lightgray;
  text-align: left;
  padding: 0.5rem;
}

.profile .date {
  background-color: lightgray;
}

.profile .centered {
  text-align: center;
}
