.amount {
  flex-basis: 50%;
  align-self: flex-end;
}

.amount input {
  width: 3rem;
  padding: 0.3rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  text-align: center;
  font: inherit;
  outline: none;
}

