.orderitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #8a2b06;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  font-weight: bold;
}

.orderitem:first-child {
  margin-top: 0;
}

.orderitem .description {
  flex-basis: 30%;
}

.orderitem .amount {
  border: 1px solid lightgray;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  align-self: flex-end;
  margin: 0.5rem 0;
}

.orderitem .amount span::before {
  content: 'x';
}
