.button {
  font: inherit;
  text-align: center;
  color: #7f2609;
  background: white;
  border: solid 1px #7f2609;
  padding: 0.4rem 2.2rem;
  border-radius: 20px;
}

.button:hover,
.button:active {
  color: white;
  background: #7f2609;
  cursor: pointer;
}

.mainbutton {
  color: white;
  background: #7f2609;
  border: none;
}

.mainbutton:hover,
.mainbutton:active {
  background: #401305;
  cursor: pointer;
}
