.checkout {
  top: 10vh;
  width: 30rem;
  left: calc(50% - 15rem);
}

.checkout .signin {
  border: none;
  background: transparent;
  font: inherit;
  color: #4d1601;
  text-decoration: underline;
  cursor: pointer;
}

.checkout .order {
  max-height: 16rem;
}
