.icon {
  color: inherit;
}

.icon svg:active,
.icon svg:focus,
.icon svg:hover {
  color: #4d1601;
  border-color: white;
}

.press {
  transform: translate(3px, 3px);
}

@keyframes press {
  100% {
    transform: translate(3px, 3px);
  }
}
