.cartitem {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #7f2609;
  padding: 0.5rem 0;
  font-weight: bold;
}

.cartitem .description {
  flex-basis: 25%;
}

.cartitem .amount {
  flex-basis: 50%;
  align-self: flex-end;
}

.cartitem .amount input {
  width: 3rem;
  padding: 0.3rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  text-align: center;
  font: inherit;
}

.cartitem .amount input:hover,
.cartitem .amount input:active,
.cartitem .amount input:focus {
  outline: none;
}

.cartitem .controls {
  flex-basis: 25%;
}

.cartitem .button {
  border-radius: 4px;
  padding: 0.1rem 0;
  margin: 0.5rem;
  width: 2.5rem;
}
